.right{
    flex: 3.5;
   
}
.rigthWrapper{
    padding: 20px 20px;
} 
.birthContainer{
   display: flex; 
   align-items: center;
}
.birthImg{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.birthText{
    font-weight: 300;
    font-size: 15px;
}
.rigtAdd{
    width:100%;
    border-radius:10px;
    margin: 10px ;
}
.rigthFriendsList{
    padding: 0;
    margin: 0;
    list-style: none;

}
.friend{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.friendProfileContainer{
   margin-right: 20px; 
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
}
.friendProfileImage{
    display: flex;
    width:40px;
    height: 40px;
    border-radius: 50%;
    object-fit:cover;
}
.friendOnline{
    width:12px;
    height: 12px;
    border-radius: 50%;
    background-color:rgb(63, 218, 63);
    position:absolute;
    top: -2px;
    right: 0 ;
    border: 2px solid white
}
.friendUsername{
    font-weight: 500;
}
.rigthTitle{
    margin-bottom: 40px;
    font-size: 20px;
}
.rigthBarTitle{
    font-size: 28px;
    font-weight:500;
    margin-bottom: 10px;
}
.rigthbarfallowingsImg{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius:5px ;
}
.rigthbarInfo{
    margin-bottom: 30px;
}
.rigthbarInfoItem{
    margin-bottom:15px;
}
.rigthbarInfoIKey{
    font-weight: 500;
    margin-right: 15px;
    color:#555;
}
.rigthbarInfoIValue{
    font-weight: 300;
}
.rigthbarfallowings{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
.rigthbarfallowing{
    display: flex;
    flex-direction: column;
}